<fieldset class="menu">
    <div class="flex-container">
        <div className="product">
            <a href="../product.html">
                <div className="product_img_div"><img src="{{listing.image.url}}" className="product_img" width="80%"></div>
                <h5 className="product_title">{{ listing.brand_name }}</h5>
                <h3 className="product_title">{{ listing.menu }}</h3>
                <div className="product_mon">{{ listing.price }}</div>
             </a>
        </div>
    </div>
</fieldset>
