.logo{
    background-color: #e5e5e5;
    text-align: center;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
.flex-container {
    display: flex;
    justify-content: center;
  }
.flex-container > div {
    padding: 10px;
  }
.check{
    text-align: center;
    font-family: 'Pretendard-Regular', HelveticaNeue, DroidSans, Sans-serif, Helvetica;
    border: solid white;
}
.btn{
   border-radius:5px;
   background-color: #e5e5e5;
   font-family: 'Pretendard-Regular', HelveticaNeue, DroidSans, Sans-serif, Helvetica;
   border: none;
   padding: 0.5rem 1rem;
   border-radius: 0.25rem;
   cursor: pointer;
   transition: 0.5s;
   margin: 0.5rem;
   width: 10rem;
}
a{
    text-decoration-line: none;
    color:black;
}
.menu{
    display:flex;
    flex-direction: row;
    flex-wrap : wrap;
    width: 100%;
    font-family: 'Pretendard-Regular', HelveticaNeue, DroidSans, Sans-serif, Helvetica;
    margin: 0.5rem;
    border: none;
    text-align: center;
    position: relative;
    margin-bottom: 3rem;
}
.product{
    margin-bottom : 10%;
    font-family: 'Pretendard-Regular', HelveticaNeue, DroidSans, Sans-serif, Helvetica;
}
.product_img{
    height:250px;
    width:200px;
  }
footer {
    background-color: black;
    color:white;
    font-family: 'Pretendard-Regular', HelveticaNeue, DroidSans, Sans-serif, Helvetica;
    white-space: pre-line;
    font-size: 0.9rem;
    padding: 1rem;
    margin-top: -1rem;
    text-align: center;
}
.detail_header{
    margin-left:10rem;
    font-family: 'Pretendard-Regular', HelveticaNeue, DroidSans, Sans-serif, Helvetica;
}