    <fieldset class="check">
        <p><b>브랜드</b></p>
            {% for i in brands %}
            <label><input type="radio" value="{{ i.id }}" name="brands">{{ i.brand_name }}</label>
            {% endfor %}

        <p><b>카테고리</b></p>
            {% for i in categorys %}
            <label><input type="radio" value="{{ i.id }}" name="categorys">{{ i.category_name }}</label>
            {% endfor %}

        <p><b>알레르기</b></p>
            {% for i in allergys %}
            <label><input type="radio" value="{{ i.id }}" name="allergys">{{ i.allergy_name }}</label>
            {% endfor %}

<!-- 아래 세 항목은 그냥 사용자가 직접 입력하는 걸로 바꿀 것-->
    <div class="flex-container">
            <div><p><b><label for="calories">칼로리</label></b></p>
                <input type="number" name="calorie">
            </div>
            <div><p><b><label for="money">가격</label></b></p>
                <input type="number" name="money">
            </div>
            <div><p><b><label for="caffeine">카페인</label></b></p>
                <input type="number" name="caffeine">
            </div>
        </div>
    </fieldset>
