{% load static %}
<!DOCTYPE html>
<html lang="ko" class="black">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAFE MAIN</title>
    <link rel="stylesheet" href="../static/css/main.css"/>

    <!-- JQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>
<body>
    <div class="wrap">
        <header>
            <div class="logo">
                <a href="#">
                    <img src="../static/images/logo.png" alt="로고" width="17%">
                </a>
            </div>
        </header>
        <fieldset class="check">
            <p><b>브랜드</b></p>
            <form method="get">
                {{  listing_filter.form }}
            </form>

            <label><input type="checkbox" value="mega">메가커피</label>
            <label><input type="checkbox" value="paik">빽다방</label>
            <label><input type="checkbox" value="starbucks">스타벅스</label>
            <label><input type="checkbox" value="ediya">이디야</label>
            <label><input type="checkbox" value="hollys">할리스커피</label>
            <p><b>카테고리</b></p>
            <label><input type="checkbox" value="coffee">Coffee</label>
            <label><input type="checkbox" value="shake">Shake</label>
            <label><input type="checkbox" value="ade">Ade</label>
            <label><input type="checkbox" value="tea">Tea</label>
            <label><input type="checkbox" value="beverage">Beverage</label>
            <p><b>알레르기</b></p>
                <label><input type="checkbox" value="mega">우유</label>
                <label><input type="checkbox" value="paik">견과류</label>
                <label><input type="checkbox" value="starbucks">대두</label>
                <label><input type="checkbox" value="ediya">복숭아</label>
                <label><input type="checkbox" value="hollys">아황산류</label>
                <label><input type="checkbox" value="mega">밀</label>
                <label><input type="checkbox" value="paik">계피</label>
                <label><input type="checkbox" value="starbucks">오징어</label>
                <label><input type="checkbox" value="ediya">난류</label>
            <div class="flex-container">
                <div><p><b><label for="calories">칼로리</label></b></p>
                    <select id="calories">
                         <option value="kcal_0" selected>0 kcal</option>
                         <option value="kcal_50">6 ~ 50 kcal</option>
                         <option value="kcal_150"> 51 ~ 150 kcal</option>
                         <option value="kcal_250">151 ~ 250 kcal</option>
                         <option value="kcal_300">250 ~ 300 kcal</option>
                         <option value="kcal_max">301 ~ kcal</option>
                    </select>
                </div>
                <div><p><b><label for="money">가격</label></b></p>
                    <select id="money">
                         <option value="money_2500" selected>0 ~ 2500 원</option>
                         <option value="money_3500">2510 ~ 3500 원</option>
                         <option value="money_4500">3510 ~ 4500 원</option>
                         <option value="money_5500">4510 ~ 5500 원</option>
                         <option value="money_max">5500 ~ 원</option>
                    </select>
                </div>
                <div><p><b><label for="caffeine">카페인</label></b></p>
                    <select id="caffeine">
                         <option value="caffeine_200" selected>0 ~ 200 mg</option>
                         <option value="caffeine_300">201 ~ 300 mg</option>
                         <option value="caffeine_400">301 ~ 400 mg</option>
                         <option value="caffeine_max">401 ~ mg</option>
                    </select>
                </div>
            </div>
            <p><button type="btn" class="btn">검색</button></p>
        </fieldset>
    </div>
</body>
<footer>
    <p>DB PROJECT
        CAFE MENU RECOMMEND

        강예원 장서영 지수민</p>
</footer>
</html>